.authentication__container-header {
  display: flex;
  justify-content: flex-start;
}

.authentication__content {
  width: 80%;
  margin-top: 0px;
}

.authentication__content-field {
  margin: 8px 0 5px 0;
  padding: 20px 0;
}

.authentication__content-input {
  width: 100%;
  line-height: 20px;
  border-top-width: 2px;
}
