.event-form {
  display: flex;
  flex-direction: column;
}

.event-name-input {
  width: 90%;
}

.event-start-end-container {
  display: flex;
  border: 1px solid;
}

.start-date-picker {
  width: 50%;
}

.end-date-picker {
  width: 50%;
}

.event-details-container {
  display: flex;
}

.event-title-description {
  flex: .7;
}

.event-location-container {
  display: flex;
  border: 1px solid;
}

.event-location-left {
  width: 50%;
}

.event-location-right {
  width: 50%;
}

.event-location-input {
  width: 90%;
}

/*.event-start-end {
  display: flex;
}

.start-date-picker {
  flex: 4;
}

.end-date-picker {
  flex: 2;
}*/