.event-form {
  display: flex;
  flex-direction: column;
}

.create-event-header {
  border-bottom: 1px solid
}

.event-details-container {
  display: flex;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.event-title-description {
  width: 50%
}

.event-other-description {
  width: 50%
}

.event-name-input {
  width: 70%;
}

.event-start-end-container {
  display: flex;
  border-bottom: 1px solid
}

.start-date-picker {
  width: 50%;
}

.end-date-picker {
  width: 50%;
}

.event-location-container {
  display: flex;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.event-location-left {
  width: 50%;
}

.event-location-right {
  width: 50%;
}

.event-location-input {
  width: 90%;
}

.image-canvas {
  border: 1px solid
}

.image-container {
  height: 100%;
  width: 100%;
  border: 1px solid;
}