.events__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
//
// .events__search {
//
// }
//
.events__map-container {
  flex: 4;
  position: relative;
}

// .event__map {
//   height: 100%;
//   width: 100%;
// }
//
.events__list {
  flex: 2;
  display: flex;
  flex-direction: column;
}
//
.events__list-ul {
  overflow-y: auto;
  list-style-type: none;
  padding: 0px;
}
//
// .events__list-ul--li {
//   width: 100%;
//   margin: 0px;
// }
