.events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.events__map-container {
  flex: 4;
  overflow: hidden;
}

.events__list {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.events__list-ul {
  overflow-y: auto;
  list-style-type: none;
  padding: 0px;
}
