@font-color: #45494E;

.header__nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;

  a:hover {
      color: #FF4900;
  }
}

.header__nav-item {
  padding-left: 10px;
  padding-right: 10px
}

.header__logo-container {
  border-right: 1px solid rgb(239, 242, 245);
}

.header__logo {
  color: #0393ff !important;
  font-family: 'Quicksand', sans-serif;
}

.header__logo-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px;
}
