@font-color: #45494E;
@border-color: #d2d8de;

.header__nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  height: 100%;
  align-items: center;
  a:hover {
      color: #FF4900;
  }
}

.header__nav-item {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 1px solid @border-color;
  white-space: nowrap;
}

.header__logo {
  color: #0393ff !important;
  font-family: 'Quicksand', sans-serif;
  white-space: nowrap;
}

.header__logo-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px;
  border-right: 1px solid @border-color;
}

.header__search-container {
  flex: 1;
  display: flex;
}

.nav__search-bar-form {
  display: flex;
  width: 100%;
  align-items: center;
}

.nav__search-input {
  flex: 6;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 8px 0 0 20px;
  font-size: 1em;
}

.nav__search-submit-btn {
  flex: 1;
  background-color: transparent;
  border: none;
}

.nav__magnifying-glass-img {
  height: 16px;
  padding-left: 15px;
}
