.content__events-list-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EFF2F5;
}

.content__events-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
