.app {
  display: flex;
  flex-direction: column;
}

.appHeader {
  display: flex;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
}

.home h1 {
  display: flex;
  justify-content: flex-start;
}

.home h4 {
  display: flex;
  justify-content: flex-start;
}

.homeSearch {
  display: flex;
  justify-content: center;
}

.homeEventsList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeEventsList:after {
  content: "";
  flex: auto;
}

.homeImage {
  margin: 0 -8px
}
