@content-margin: 5%;

.app {
  width: 100%;
}

html, body, #root {
  height:100%;
}

body {
  margin: 0px;
}

h2 {
  margin: 0;
}

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.event__container {
  margin: 0 @content-margin;
}

.home__search {
  padding: 40px;
}

.nav__search-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav__search-bar-form {
  width: 100%;
  display: flex;
}
.nav__search-input {
  flex: 4;
}

.nav__search-submit-btn {
  flex: 1;
}

.home__image-container {
  flex: 2;
  position: relative;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.home__events-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  ul {
    padding-left: 0px;
  }
}

.content__event-container {
  width: 25%;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #EFF2F5;
  margin: 0 0 20px 0;
  margin: 20px;
}

.home__events-title {
  flex: 1;
}

.home__event-list-item {
  margin: 0 0 20px 0;
  width: 25%;
}

.content__event-image {
  width: 50%;
}

.authentication__container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 35%;
  background-color: #fff;
  border: 1px solid #EFF2F5;
  padding: 20px;
}

.authentication__container-header {
  display: flex;
  justify-content: flex-start;
  margin: 0px;
}

.authentication__content {
  width: 80%;
  margin-top: 0px;
  padding: 0px;
}

.authentication__content-field {
  margin: 5px 0;
  padding: 0px;
}

.authentication__content-input {
  width: 100%;
  line-height: 20px;
  border-top-width: 2px;
  margin-bottom: 8px;
}

.map__events-container {
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #EFF2F5;
  margin: 0 0 8px 0;
}

.map__list {
  flex: 1;
  overflow-y: auto;
  margin: 0 10px 10px 10px;
}

.map__events-image-container {
  text-align: center;
  padding: 0px;
  border-bottom: 1px solid #EFF2F5;
}

.map__events-image {
  width: 50%;
}

.map__events-text {

}
