a {
  font-size: 20px;
  text-decoration: none;
}
p {
  font-size: 20px;
}
.app {
  display: flex;
  flex-direction: column;
}
.homeEventsList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homeEventsList:after {
  content: "";
  flex: auto;
}
.homeImage {
  /*display: flex;
  justify-content: center;*/
  margin: 0 -8px;
}
.homeImage img {
  display: block;
  width: 100%;
  height: auto;
}
.homeSearch {
  display: flex;
  justify-content: center;
}
.home {
  display: flex;
  flex-direction: column;
}
.home h1 {
  display: flex;
  justify-content: flex-start;
}
.home h4 {
  display: flex;
  justify-content: flex-start;
}
.appHeader {
  display: flex;
  align-items: center;
}
.navComponent {
  list-style-type: none;
  flex: 2;
}
.navLinks {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.host-events-list {
  list-style-type: none;
}
.host-event-list-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-link-item {
  padding-left: 10px;
  padding-right: 10px;
}
.logo {
  flex: 1;
}
