a {
  font-size: 20px;
  text-decoration: none;
}

p {
  font-size: 20px;
}

.app {
  display: flex;
  flex-direction: column;
}

.homeEventsList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeEventsList:after {
  content: "";
  flex: auto;
}

.homeImage {
  display: flex;
  justify-content: center;
}

.homeSearch {
  display: flex;
  justify-content: center;
}

.home h1 {
  display: flex;
  justify-content: flex-start;;
}

.home h4 {
  display: flex;
  justify-content: flex-start;;
}

.appHeader {
  display: flex;
  align-items: center;
}

.navComponent {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.navLinks {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.navBar {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.logo {
  flex: 2;
}
